.row(ng-controller="MainCtrl")
  .col-md-8
    .panel.panel-default
      .panel-heading
        %h3.panel-title Data Form
      .panel-body
        %form(role="form" ng-submit="processForm(title, content)")
          .form-group
            %label(for="title") Title:
            %input.form-control(type="text" name="title" ng-model="title")
          .form-group
            %label(for="content") Content:
            %textarea.form-control(name="content" rows="10" ng-model="content")
          %button.btn.btn-primary.pull-right(type="submit") Submit
  .col-md-4
    .panel.panel-default
      .panel-heading
        %h3.panel-title
          Results &nbsp;
          %span(ng-hide="pagesCount() == 0")({{currentResultPage + 1}}/{{pagesCount()}})
      .panel-body
        %ul
          %li(ng-repeat="result in results | page:5:currentResultPage") {{result.text[0]}} ({{result.text[1]}})
      .panel-footer(style="min-height: 43px;")
        %button.btn.btn-xs.btn-default(ng-hide="currentResultPage == 0" ng-click="currentResultPage = currentResultPage - 1") &lt; Prev
        %button.btn.btn-xs.btn-default.pull-right(ng-hide="currentResultPage >= pagesCount() - 1" ng-click="currentResultPage = currentResultPage + 1") Next &gt;
    .panel.panel-default
      .panel-heading
        %h3.panel-title Logs
      .panel-body
        %ul.list-unstyled
          %li(ng-repeat="entry in logs | reverse track by $index") {{entry}}
