!!! 5
%html(ng-app)
  %head
    %title Aduenko
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true 
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags 

  %body
    .container
      .page-header
        %h1 Analyze tool
      = yield
